<div class="main">
  <div class="container">
    <div class="wrapper-top">
      <app-budget></app-budget>
      <app-totals></app-totals>
    </div>
    <div class="wrapper-bottom">
      <div class="img-box">
        <img class="img" src="../assets/img/clouds.png" alt="Clouds">
        <img class="img-small" src="../assets/img/clouds-small.png" alt="Clouds">
      </div>
      <div class="inputs-wrapper">
        <app-inputs></app-inputs>
      </div>
      <app-lists></app-lists>  
    </div>
  </div>
</div>